body{
    
    font-family: "parkinsans";
    text-align: left;
    color:aqua;
    background-color: black;
    border:1px solid antiquewhite;
    border-radius: 8px;
    margin:5px;
    

}
main{
    max-width: 1200px;
    text-align: left;
    margin: 40px auto;
    border:1px solid antiquewhite;
    border-radius: 8px;
    padding:40px;
}
.link-container{
    margin-top: 30px;
    
}
h1{
    font-size:68px;
    margin: 60px;
    text-align: center;

   
    
}
h4{
    font-size: 20px;
}
.row h2{
    margin-top:  40px;
}
.social-links{
    margin-left: 500px;
    
}
.social-links a{
  text-decoration: none;
  margin: 0px 15px;    
  font-size: 50px; 
   
 }
 .img-fluid{
    border: 3px solid white;
    
 }
 .d-flex{
    justify-content: space-around;
 }
 footer a{
   text-decoration: none;
 
 }

@media(max-width: 960px){
body{
    border:none;
    
}
    main{
        max-width: 900px;
        margin:10px;   
        text-align: center;  
    }
    h1{
        font-size: 45px;
    }
    
    h2{
        font-size:20px ;
    }
    h4{
        font-size: 15px;
        margin-right: 10px;
    }

    .social-links{
        margin-left: 2px;
        padding:2px;
    
    }
    .social-links a{
        margin: 0px 8px;    
        font-size: 30px;
        
    }
        .col-sm-3{
        margin:auto;
        max-width: 80%;
        }
        
}






